{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "baseUrl": "./",
    "target": "es2018"
  },
  "module": {
    "type": "commonjs",
    "resolveFully": true
  },
  "minify": false
}
